body{
   background-color: #4E6A54;
}
img {
    height: 100px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
}
.buttons{
    background-color: rgb(139, 139, 133);
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-family: monospace;
    font-style: bold;
    border: none;
    margin-top: 30px;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}
.buttons:hover{
    background-color: rgb(78, 78, 78);
    color:#D4AF37;
}
.buttons:active{
    background-color: rgb(107, 107, 107);
    transform: scale(1.03);
    color:#D4AF37;
}