body{
   background-color: #4E6A54;
}
img {
    height: 100%;
    width: 100%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}
.buttons{
    background-color: #4E6A54;
    text-align: center;
    padding: 40px;
    font-size: 5em;
    font-family: monospace;
    font-style: bold;
    border: none;
    margin-top: 15px;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    height: 1vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
.buttons:hover{
    background-color: #4E6A54;
    color:#D4AF37;
}
.buttons:active{
    background-color: #4E6A54;
    transform: scale(1.03);
    color:#D4AF37;
}
#dealerResult{
    height: 30px;
    font-size: 3vw;
    font-family: monospace;
}
#dealerImage{
    height: 160px;
    width: 160px;
}
#cardImage{
    height: 160px;
    width: 160px;
}
#cardResult{
    height: 30px;
    font-size: 3vw;
    font-family: monospace;
}
#winResult{
    height: 30px;
    font-size: 3vw;
    font-family: monospace;
}
@media (max-width:600px) {
    .buttons, #cardResult, #winResult, #dealerResult{
       font-size: 4em;
       margin: auto;
    }
}
@media (max-width:700px) {
    #cardImage, #dealerImage{
        height: 100px;
        width: 100px;
    }
}
input[type="number"]{
    font-size: 2em;
    width: 115px;
    padding: 5px;
    border-width: 3px;
    border-style: groove;
    cursor: pointer;
    font-family: monospace;
    border-color: #4E6A54;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    background-color: #4E6A54;
}
#amountMoney{
    padding-top: 30px;
    font-size: 2em;
    font-family: monospace;
}